html,
body {
  color: #444;
  font-size: 14px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	
}

body {
  padding: 20px;
}

p {
	color: #4a5568;
	max-width: 65ch;
}

.btn-blue:hover {
  @apply bg-blue-700;
}